@model Eitan.Web.Models.HomePageViewModel
@using System.Configuration
@{
    ViewBag.Title = "Home";
}

<div id="home-items-wrap">
<img class="home-large-image home-item" src="images/Home/home-large1.jpg" />
    WRD
@foreach (var item in Model.Values)
{
    if (item.Item == null) { continue; };
    ViewBag.ImageFolder = ConfigurationManager.AppSettings["ImageFolder_" + item.Controller];    
    @Html.Partial("_HomeItemBox", item)
}

</div>
