@model Eitan.Models.Page

@{
    ViewBag.Title = "Studio";
}

@{
    ViewBag.FolderName = "Pages";
    ViewBag.SliderSize = "286";
}
@Html.Partial("_CameraSlider", (List<Eitan.Models.Picture>)ViewBag.SliderImages)

@Html.Partial("_LeftColumnImages", (List<Eitan.Models.Picture>)ViewBag.LeftImages)

<div id="studio-main">
    @Html.Raw(Model.Content)
</div>