@model Eitan.Models.Project

@{
    ViewBag.Title = "הוספה";
}

<h2>הוספת פרוייקט</h2>

@using (Html.BeginForm("Create", "Projects", FormMethod.Post, new { enctype = "multipart/form-data" })){
    @Html.ValidationSummary(true)
        
        @Html.Partial("_SEOInput", new Eitan.Models.SEO())
        
		@Html.Partial("_CreateOrEdit", Model)
        <p>
            <input type="submit" value="הוספה" />
        </p>
}

<div>
    @Html.ActionLink("בחזרה לחדשות", "Index")
</div>


