@model IEnumerable<Eitan.Models.Picture>

    <link href="~/Content/camera.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.8.20.min.js"></script>
    <script src="~/Scripts/camera.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
                $('#camera_wrap').camera({
                    thumbnails: false,
                    navigation: false,
                    height: '@ViewBag.SliderSize' + 'px',
                    pagination: false,
                    time: 2500,
                    fx: 'simpleFade'
            });
        });
    </script>

<div class="camera-slider-container camera_wrap camera_black_skin" id="camera_wrap">
    @foreach (var item in Model)
    {
        <div class="camera-main-image" data-thumb="/Images/@ViewBag.FolderName/@item.Source" data-src="/Images/@ViewBag.FolderName/@item.Source">
        </div>   
    }
</div>



