<div id="footer">
    <div class="footer-column-left">
        <div id="footer-nav">
            <nav>
                <ul class="group" id="footer-menu-ul">
                    @Html.Partial("_Menu_Links")
                </ul>
            </nav>
        </div>
        <div id="footer-credit">
            <span>© Sonic Booking - All Rights Reserved.</span><br /><a href="mailto:urbnstream11@gmail.com"><span>Developed by URBNStream</span></a>
        </div>
    </div>
</div>
