<div class="release-filter-bar">
    <span>FILTER DISCOGRAPHY</span>
    <ul class="filter-links">
        <li><a href="" class="release-browse-span" data-value="*">Show All</a></li>
        <li><a href="" class="release-browse-span" data-value=".release-type-1">Artist Album</a></li>
        <li><a href="" class="release-browse-span" data-value=".release-type-2">Artist EP</a></li>
        <li><a href="" class="release-browse-span" data-value=".release-type-3">Album</a></li>
    </ul>
</div>
