<div class="share-btns-wrap">
    <!-- fb share --->
    <a class="fb_share share-link" href="javascript:void(0);return false;" onclick="canonicalUrl=window.location.href;window.open('http://www.facebook.com/sharer.php?u='+encodeURI(canonicalUrl)+'&amp;ref=fb_item_share_btn','wallapop','width=660,height=440,scrollbars=no,status=no,toolbar=no,menubar=no,location=no');return false;"></a>
    @if (ViewBag.isWithText != null)
    {
        <span class="share-span">
            @ViewBag.FBShareText
        </span>
    }

    <!-- tweet button -->
    <div class="share-tweet share-link">
        <a href="https://twitter.com/share" class="twitter-share-button" data-count="none" target="_blank"></a>
    </div>
    @if (ViewBag.isWithText != null)
    {
        <span class="share-span">
            @ViewBag.TwitterText
        </span>
    }

    <!-- +1 button -->
    <a class="share-googplus share-link">
        <g:plusone size="tall" annotation="none"></g:plusone>
        <script type="text/javascript">
            (function () {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
        </script>
    </a>
    @if (ViewBag.isWithText != null)
    {
        <span class="share-span">
            @ViewBag.GooglePText
        </span>
    }

</div>
