<div class="social-btn-wrap">
    <a href="https://www.facebook.com/ReiterMusic" class="btn-social" id="social-lnk-fb" target="_blank"></a>
    <a href="https://soundcloud.com/eitanreiter" class="btn-social" id="social-lnk-soundcloud" target="_blank"></a>
    <a href="http://www.youtube.com/user/EitanReiter333" class="btn-social" id="social-lnk-youtube" target="_blank"></a>
    <a href="http://www.beatport.com/artist/eitan-reiter/64950" class="btn-social" id="social-lnk-beatport" target="_blank"></a>
</div>