@model Eitan.Models.Song

@{
    ViewBag.Title = "מחיקת שיר";
}

<h2>מחיקת שיר</h2>

<h3>בטוח שאתה רוצה למחוק את השיר הזה?</h3>
<fieldset>
    <legend>שיר</legend>

    <div class="display-label">כותרת</div>
    <div class="display-field">@Model.Title</div>

    <div class="display-label">תאריך</div>
    <div class="display-field">@Model.Date_Creation.ToString("dd/MM/yyyy")</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        @Html.Hidden("HdnRelID", (int)ViewBag.RelId)
        <input type="submit" value="מחק" />
    </p>
}


