<div class="admin-paging-wrap">
    @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
    of @Model.PageCount
    &nbsp;
    @if (Model.HasPreviousPage)
    {
        <a href="?pagenum=1"> << </a>
        <a href="?pagenum=@(Model.PageNumber - 1)">< Prev</a>
    }
    else
    {
        @:<<
        @:< Prev
    }
    &nbsp;
    @if (Model.HasNextPage)
    {
        <a href="?pagenum=@(Model.PageNumber + 1)">Next ></a>
        <a href="?pagenum=@Model.PageCount">>></a>
    }
    else
    {
        @:Next >
        @:>>
    }
</div>