@model Eitan.Models.SEO
@{
    Eitan.Models.SEO Entity;
    if (Model == null)
    {
        Entity = new Eitan.Models.SEO();
    }
    else
    {
        Entity = Model;
    }
}
<script type="text/javascript">
    function AddFilesFunc() {
        var fuHTML = "<input type='file' name='SEOfile' id='SEOfile'>";
        $(".SEO-files-wrapper").append(fuHTML);
    }
</script>
<div class="seo-toggle">
    <img src="@Url.Content("~/Content/images/SEO-globe.png")" alt="לעריכת SEO" title="לעריכת SEO" />
    <span>SEO/OPEN-GRAPH </span>
</div>
<div class="editor-SEO-div seo-Hidden">
    <div class="editor-seo-wrap">
        @Html.Partial("_SEO_Basic", Entity)
        @if (ViewBag.isIndex != null)
        {
            <div class="clear"></div>
            <input type="submit" value="Save" id="btnSubmit" />
        }
    </div>
</div>
<div class="clear"></div>
